option {
    color: var(--color-olivegreen-5)
}

.form-box {
    width: 100%;
    padding: 0% 10%;
}

form {
    display: grid;
    grid-template-columns: 1fr;
}

label {
    display: block;
    width: 100%;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}

::placeholder {
    opacity: 0.8;
}

input,
select,
textarea {
    padding: 10px;
    font-family: 'Crimson';
    background-color: var(--color-olivegreen-5);
    border: 1px solid var(--color-olivegreen-1);

}

textarea {
    overflow: auto;
    resize: none;
    line-height: 1.4rem;
}

.confirm label {
    margin: 0 !important;
}

.confirm {
    display: flex;
    align-items: flex-start;
    padding: 2rem 0rem;
}

.confirm>input {
    width: 2rem;
}

h1 {
    margin-top: 4rem;
}

h2 {
    margin: 5rem 10% 1rem;
    text-align: center;
}

@media (min-width: 837px) {

    .form-box {
        padding: 3% 30% 0% !important;
    }
}