:root {
    --color-olivegreen-5: #272b00;
    --color-olivegreen-4: #54582f;
    --color-olivegreen-3: #86895d;
    --color-olivegreen-2: #bec092;
    --color-olivegreen-1: #fdffe0;
    --p-padding: 4rem 10%;
    /*i change color olive1*/

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
}

@font-face {
    font-family: 'Sirenik';
    src: url('sirenik-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Crimson';
    src: url('crimson-italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Crimson';
    src: url('crimson-roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Crimson';
    src: url('crimson-semibold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Crimson';
    src: url('crimson-semibold-italic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

/*playfair-display*/

@font-face {
    font-family: 'Playfair Display';
    src: url('playfairdisplay-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

p {
    font-family: 'Crimson';
    font-weight: normal;
    padding: 0 10%;
    text-align: justify;
    line-height: 1.8;
    color: var(--color-olivegreen-1);
}

h1,
h2,
h3 {
    font-family: 'Playfair Display';
    color: var(--color-olivegreen-5)
}

/* Hero , well the title of main */
.hero {
    position: relative;
    width: 1fr;
    height: 60vh;
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
}

.hero-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70vh;
    object-fit: cover;
    z-index: -1;
    object-position: center;
    filter: brightness(0.8);
    background-color: black;
    /*just in case of css color contrast im gonna check if i erase it what happens*/
}

.hero-content {
    padding-left: 10%;
    color: whitesmoke;
    z-index: -1;
}

.hero-content h1 {
    font-size: clamp(3rem, 10vw, 5rem);
    line-height: 0.9;
    margin: 0;
    font-weight: 800;
}

.hero-content p {
    font-size: 1.2rem;
    font-weight: bold;
    padding-top: 1rem;
}

.p-below-h1 {
    padding: 2rem 15% 2rem 10%;
    text-align: left;
}

.olive4 {
    background-color: var(--color-olivegreen-4);
}

.h-center-line {
    margin: auto;
    margin-top: 15%;
    width: max-content;
    text-align: center;
}

.h-center-line div {
    width: 40%;
    height: 5px;
    background-color: var(--color-olivegreen-5);
    margin: auto;
    margin-top: 1rem;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    padding: 20px;
    margin: 5%;
    grid-auto-rows: 1fr
}

.color-white {
    color: whitesmoke;
}

.card-product {
    border: 1px solid var(--color-olivegreen-2);

}

.card-product p {
    color: var(--color-olivegreen-5);
    padding: 1.5rem 20px;
    text-align: center;

}

.card-product .h-center-line {
    width: fit-content;
}

.card-product .h-center-line {
    width: fit-content;
}

.card-product .h-center-line div {
    height: 2px;
    margin-bottom: 10px;
}

.card-product-img {
    background-color: var(--color-olivegreen-2);
    max-width: 100%;
    min-height: 100%;
    aspect-ratio: ;
    padding: 2rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid var(--color-olivegreen-5);

}

#roasted-nibs {
    grid-column: 1/3;
    margin-left: 23%;
    margin-right: 23%;
}


@media (min-width: 837px) {
    .hero {
        height: 80vh;
    }

    .hero-bg {
        height: 80vh;
    }

    .p-below-h1 {
        padding-right: 25%;
    }

    .h-center-line {
        margin-top: 10%;
    }

    .product-grid {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        gap: 10px;
        padding: 40px;
        margin: 5% 10% 10% 10%;
        grid-auto-rows: 1fr
    }

    #dark-70 {
        grid-column: 1/3;
    }

    #dark-65 {
        grid-column: 3/5;
    }

    #dark-60 {
        grid-column: 5/7;
    }

    #milk {
        grid-column: 7/9;
    }

    #white {
        grid-column: 2/4;
    }

    #cocoa {
        grid-column: 4/6;
    }


    #roasted-nibs {
        grid-column: 6/8;
        margin: 0;
    }
}




/* button like*/
.button {
    display: inline-block;
    background-color: #EBC04D;
    color: #2b1a12;
    padding: 12px 30px;
    border-radius: 50px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9rem;
    transition: background 0.3s;
}

.button {
    background-color: #f7d372;
}