:root {
    --padding-all-1rem: 1rem;
    --margin-h1: 2rem auto 2rem;
    --margin-nav: 0 auto 0;
    --padding-footer: 2rem 0 2rem;
    --padding-nav: 1rem 0 1rem;
    --border-nav-half-rem-top-bottom: 0.5rem auto;
    --text-color-h: white;
    --text-color-p: black;
    --text-color-nav: white;
    --text-color-footer: white;
    --color-olivegreen-5: #272b00;
    --color-olivegreen-4: #54582f;
    --color-olivegreen-3: #86895d;
    --color-olivegreen-2: #bec092;
    --color-olivegreen-1: #f8fbca;

}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    display: grid;
    height: 100vh;
    grid-template: auto 1fr auto / repeat(3, 1fr);
}

header {
    grid-column: 1/4;
    background: var(--color-olivegreen-4);
    color: var(--text-color-h);
}

header h1 {
    margin: var(--margin-h1);
    max-width: 85vw;
}

nav {
    Margin: var(--margin-nav);
    border: var(--border-nav);
    background: var(--color-olivegreen-5);
    padding: var(--padding-nav);
}

.navigation {
    display: flex;
    List-style: none;
    flex-wrap: wrap;
    align-content: center;


}

.navigation li {
    flex: 1 1 auto;

}

.navigation a {
    display: block;
    text-decoration: none;
    color: var(--text-color-nav);
    text-align: center;
    font-weight: normal;
}

.navigation a:hover {
    font-weight: 800;
}

/*Fot outline the letters*/
/* -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black; */

/*letter-spacing*/


.main-area {
    grid-column: 1/3;
    background: var(--color-olivegreen-2);
    padding: var(--padding-all-1rem);
}

.right-sidebar {
    grid-column: 3/4;
    background: var(--color-olivegreen-1);
    padding: var(--padding-all-1rem);
}

footer {
    grid-column: 1/4;
    text-align: center;
    font-weight: 600;
    background: var(--color-olivegreen-4);
    color: var(--text-color-footer);
    padding: var(--padding-footer);
}