:root {
    --padding-all-1rem: 1rem;
    --padding-h: 2rem 0 2rem;
    --margin-nav: 0rem 0 0;
    --margin-main: 2rem auto 2rem;
    --padding-footer: 2rem 0 2rem;
    --padding-nav: 1rem 0 1rem;
    --padding-p: 0.5rem 0 0.5rem;
    --text-color-h: white;
    --text-color-p: var(--color-olivegreen-5);
    --text-color-nav: white;
    --text-color-footer: white;
    --color-olivegreen-5: #272b00;
    --color-olivegreen-4: #54582f;
    --color-olivegreen-3: #86895d;
    --color-olivegreen-2: #bec092;
    --color-olivegreen-1: #f8fbca;
    --margin-float-right: 0.5rem 2rem 1rem 2rem;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    height: 100vh;
}

header {
    background: var(--color-olivegreen-4);
    color: var(--text-color-h);
    text-align: center;

}

#course-title {
    font-weight: 900;
    font-size: xx-large;
    padding: var(--padding-h);
    display: block;
}


nav {
    Margin: var(--margin-nav);
    background: var(--color-olivegreen-5);
    padding: var(--padding-nav);
}

.navigation {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.navigation li {
    flex: 1 1 auto;
}

.navigation a {
    font-size: large;
}

.navigation a,
.card a {
    text-decoration: none;
    color: var(--text-color-nav);
    text-align: center;
    font-weight: normal;
}

.navigation a:hover {
    text-shadow: 0.6px 0 0 var(--text-color-nav);
}

.card a:hover {
    font-weight: bold;
    width: min-content;
}

.grid-two-60-40 {
    grid-template-columns: 60% 40%;
    display: grid;
    grid-gap: 0.5rem;
}


main {
    max-width: 85vw;
    margin: var(--margin-main);
}

.main-area {
    background: wheat;
    padding: var(--padding-all-1rem);
}


.right-sidebar {
    background: var(--color-olivegreen-1);
    padding: var(--padding-all-1rem);
}

.card {
    border-radius: 20px;
    border: 0.05rem solid var(--color-olivegreen-4);
    overflow: hidden;
    padding: 0 0 2rem 0;
    display: block;

}

.card p,
.card ul,
.card figure,
.card h3 {
    text-align: justify;
    padding: 0.5rem 2rem;

}

.card h3 {
    padding-left: 3rem;
    padding-bottom: 1rem;
}

.card img {
    float: right;
    width: 40%;
    height: auto;
}


.card li {
    list-style-position: inside;
    text-align: left;
    padding-bottom: 0.5rem
}

.card hr {
    margin: 0 2rem;
}

.card ul {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: auto;

}

.card a {
    color: var(--color-olivegreen-5);

}

.card h2 {
    text-align: center;
    padding: 1rem 0;
    background-color: var(--color-olivegreen-4);
    max-width: 100%;
    color: var(--text-color-h);

}

.float-right {
    width: 35%;
    height: auto;
    float: right;
    margin: var(--margin-float-right);
}



footer {
    text-align: center;
    font-weight: 600;
    background: var(--color-olivegreen-4);
    color: var(--text-color-footer);
    padding: var(--padding-footer);
}

.padding-halve-0-2 {
    padding: 0.5rem 0 2rem;
}

.green-heading {
    text-align: center;
    color: var(--color-olivegreen-5);
}


.top-padding-2rem {
    padding-top: 2rem !important;
}


.float-left-figure {
    float: left;
    width: 50%;
    margin: 2rem 0rem 0rem 0rem;
    padding: 0;
    text-align: center;
}

.float-left-figure img {
    float: none;
    width: 100%;
    height: auto;
    border: 1px solid currentColor;
}

.float-left-figure figcaption {
    display: block;
    font-size: normal;
    font-style: italic;
    margin-top: 0.5rem;
    line-height: 1.2;
}

.grid {
    display: grid;
}

.grid-gap-bottom-h2 {
    grid-template-rows: auto 0;
}

/*JUst in case*/
.outline-the-letters {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}



/*letter-spacing if needed*/