:root {
    --padding-all-1rem: 1rem;
    --padding-h: 1.5rem;
    --margin-main: 1rem auto 2rem;
    --text-color-h: white;
    /*It is a olivegren color palette for all my pages*/
    --color-olivegreen-5: #272b00;
    --color-olivegreen-4: #54582f;
    --color-olivegreen-3: #86895d;
    --color-olivegreen-2: #bec092;
    --color-olivegreen-1: #f8fbca;
    --color-olivegreen-6: #f8fbca;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Garamond, "Times New Roman", serif;
    color: var(--color-olivegreen-5);
    line-height: 1.6;
}

header,
footer {
    background: var(--color-olivegreen-4);
    color: var(--text-color-h);
    text-align: center;
    padding: var(--padding-h);
    font-family: 'Times New Roman', Times, serif;
}

main {
    width: 100%;
    margin: var(--margin-main);
    padding: var(--padding-all-1rem);
    display: flex;
    flex-direction: column;
}

/* form ID */
#productReview {
    display: flex;
    flex-direction: column;
    font-size: larger;
}

fieldset {
    border: 1px solid var(--color-olivegreen-3);
    background-color: var(--color-olivegreen-1);
    border-radius: 4px;
    padding: 1.5rem 1rem 1.5rem 1rem;
    margin-bottom: 1.5rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

legend {
    display: block;
    float: left;
    color: var(--color-olivegreen-5);
    font-weight: bold;
}

.rating-fieldset {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

fieldset label,
.rating-option {
    display: flex;
    gap: 0.6rem;
    cursor: pointer;
}

select,
input[type="text"],
input[type="date"],
textarea {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid var(--color-olivegreen-2);
    border-radius: 0;
    font-family: inherit;
    font-size: large;
}

.submit-button {
    width: 100%;
    background-color: var(--color-olivegreen-5);
    color: white;
    padding: 1.2rem;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-weight: bolder;
    font-size: larger;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
}

.optional,
.instruction {
    font-weight: normal;
    font-style: italic;
}

textarea {
    resize: none;
}

.rating-option input:checked+label,
fieldset label:has(input[name="features"]:checked) {
    font-weight: 600;
    color: var(--color-olivegreen-5);
}

/* review.html part*/
.summary-part {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    background: var(--color-olivegreen-6);
    border-top: 6px solid var(--color-olivegreen-4);
}

.summaryHeight {
    height: 592px;
    overflow-y: auto;
}

.CommentValue {
    display: inline-block;
    max-width: 100%;
    overflow-wrap: break-word;
    text-align: justify;
    word-break: keep-all;
    vertical-align: top;
    padding: 0.7rem;
    max-height: 8rem;
    overflow-y: auto;
    border: 1px solid var(--color-olivegreen-2);
    border-radius: 4px;
}

.CommentValue::-webkit-scrollbar,
.summaryHeight::-webkit-scrollbar {
    width: 12px;
}

.CommentValue::-webkit-scrollbar-track,
.summaryHeight::-webkit-scrollbar-track {
    background: var(--color-olivegreen-2);
    margin-top: 1px;
    margin-bottom: 1px;
    border-radius: 10px;
}

.CommentValue::-webkit-scrollbar-thumb,
.summaryHeight::-webkit-scrollbar-thumb {
    background: var(--color-olivegreen-5);
    border: 2px solid var(--color-olivegreen-6);
    border-radius: 15px;
}

#reviewCounter,
#productReviewed {
    font-weight: bold;
    color: var(--color-olivegreen-5);
}

.summary-part p {
    border-bottom: 1px solid var(--color-olivegreen-2);
    padding-bottom: 1rem;
}

.strong {
    font-weight: bolder;
}


.reviewHeader {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
}

.reviewHeader img {
    height: 3rem;
    width: 3rem;
    align-self: center;
}

.space {
    margin: 2rem 0 0.6rem 0;
}

.link {
    text-decoration: none;
    background-color: var(--color-olivegreen-5);
    color: white;
    border-radius: 15px;
    padding: 1rem 1.5rem;
}

.link:hover {
    transition: text-decoration-color 6s;
    text-decoration: underline;
    text-shadow: 0.4px 0 0 white;
    text-underline-offset: 5px;
}

@media screen and (min-width: 750px) {

    main {
        margin-top: 2.5rem;
        max-width: 80%;
    }

    header {
        padding: 3rem 0;
    }

    .submit-button:hover,
    .link:hover {
        transition: background-color 0.3s;
        background-color: var(--color-olivegreen-4);
    }

    .CommentValue {
        padding: 1rem;
        padding-right: 1.5rem;
    }

    .CommentValue::-webkit-scrollbar {
        width: 11px;
    }

    .link {
        display: flex;
        width: fit-content;
        height: fit-content;
        margin: auto;
        padding: 1rem 5rem;
    }

    .space {
        margin: 4rem 0 1rem 0;
    }

    .submit-button:active {
        transform: scale(0.95);
    }

    fieldset:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    fieldset {
        padding: 2rem 1.5rem 2rem 1.5rem;
    }

    fieldset label {
        width: fit-content;
        padding: 0 2rem 0 0;
    }


    .reviewHeader {
        flex-direction: column;
        gap: 0;
    }

    .reviewHeader img {
        height: 5rem;
        width: 5rem;
        border-bottom: 0.5rem;
    }

    .rating-option input:hover+label,
    fieldset label:has(input[name="features"]):hover {
        cursor: pointer;
        text-shadow: 0 0 6px var(--color-olivegreen-2);
    }

}

@media screen and (min-width: 950px) {
    main {
        max-width: 70%;
    }
}