:root {
    --padding-all-1rem: 1rem;
    --padding-h: 1rem;
    --padding-footer: 2rem 0 2rem;
    --text-color-body: white;
    --text-header: var(--blue-purpleish);
    --text-body: var(--blue-purpleish);
    --text-footer: var(--blue-purpleish);
    /*It is the color palette of The MALLORCA FLAG, since eash island has their own flag even if the are from Spain*/
    --yellow: #FCDD09;
    --red: #DA121A;
    --blue-purpleish: #40104C;
    --white: #ffffff;
    --shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat';
    color: var(--text-body);
    text-align: center;
    background-color: var(--yellow);
}

section {
    background-color: white;
    padding: 1.5rem;
}

h1,
h2 {
    font-family: 'Cormorant Garamond';
    font-weight: 700;
}

header {
    background-color: var(--yellow);
    color: var(--text-header);
    padding: 1.5rem;
    border-bottom: 0.5rem solid var(--red);
    font-size: larger;
}

footer {
    background-color: var(--yellow);
    color: var(--text-footer);
    padding: 1.5rem;
    border-top: 0.5rem solid var(--red);
}

.data-card {
    margin-bottom: 1.5rem;
}

img {
    width: 100%;
    height: auto;
}

.hero {
    display: block;
}

.label {
    font-weight: bold;
    text-align: right;
}

.label span {
    font-weight: normal;
}

.stats-card {
    padding: var(--padding-all-1rem);
    box-shadow: var(--shadow);
    border-radius: 20px;
}

.stats-card h2 {
    color: white;
    background-color: var(--blue-purpleish);
    box-shadow: 0 4px 15px var(--blue-purpleish);
    border-radius: 50px;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.fun-facts-list {
    list-style: none;
}

.fun-facts-list li {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 0.7rem;
    padding: 0.4rem 0;
    border-bottom: 1px solid #eeee;
    text-align: left;

}

.weather-icon {
    width: 40%;
    height: auto;
    padding: 0.7rem;

}