@media (min-width: 750px) {

    main {
        position: relative;
        display: block;
    }

    main>picture img {
        display: block;
    }

    section {
        padding: 0;
    }

    .stats-card {
        position: absolute;
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.1);
        box-shadow: none;
    }

    .stats-card:hover {
        box-shadow: var(--shadow);
    }


    .stats-card h2 {
        position: absolute;
        top: -20px;
        left: -20px;
        padding: 10px 20px;

    }

    .fun-facts-list li {
        border-bottom: 0;
        grid-template-columns: 50% 50%;
    }

    .fun-facts-list {
        padding-top: 1rem;
    }

    .weather-card,
    .data-card {
        position: absolute;
    }



    .weather-card {
        bottom: 3%;
        right: 3%;
        width: 33%;
        margin: 0;
    }

    .data-card {
        top: 5.2%;
        left: 3%;
        height: auto;
        margin: 0;
        width: 40%;
    }

    header {
        font-size: 1.5rem;
    }

    .not-show-small {
        display: none;
    }

    .weather-card h2::after {
        content: "";
        display: inline-block;
        width: 27px;
        height: 18px;
        background-image: url('../images/weather-icon.svg');
        background-size: contain;
        background-repeat: no-repeat;
    }


    .weather-icon {
        width: 2rem;
        height: auto;
        padding: 0;
    }


}