@media (min-width: 750px) {

    main {
        position: relative;
        display: block;
        width: 100%;
    }

    main>picture img {
        display: block;
    }

    section {
        padding: 0;
    }

    .stats-card {
        position: absolute;
        background-color: rgba(255, 255, 255, 0.8);
        box-shadow: var(--shadow);
        border: 1px solid rgba(0, 0, 0, 0.1);
    }

    .fun-facts-list li {
        border-bottom: 0;
        grid-template-columns: 55% 45%;

    }

    .weather-card,
    .data-card {
        position: absolute;
    }

    .weather-card {
        bottom: 3%;
        right: 3%;
        width: 29.5%;
        margin: 0;
    }

    .data-card {
        top: 1%;
        left: 3%;
        height: auto;
        margin: 0;
        width: 40%;
    }

    header {
        font-size: 1.5rem;
    }

    .not-show-small {
        display: none;
    }

    .not-show-large {
        display: inline;
        padding-left: 0.5rem;
    }

    .weather-icon img {
        width: 2rem;
        height: auto;
        padding: 0;
    }

    footer {
        height: 100%;
    }


}