@media (min-width: 750px) {
    .hero {
        position: relative;
        display: block;
    }

    .stats-card {
        position: absolute;
        top: 50px;
        left: 50px;
        width: 300px;
        margin: 0;
    }

    .weather-card {
        position: absolute;
        bottom: 50px;
        right: 50px;
        width: 280px;
        margin: 0;
    }


    .weather-info picture {
        display: none;
    }

    .weather-card h2::after {
        content: "";
        display: inline-block;
        width: 30px;
        height: 30px;
        background-image: url('../images/weather-icon.svg');
        background-size: contain;
        background-repeat: no-repeat;
        vertical-align: middle;
        margin-left: 15px;
    }

    header {
        font-size: 1.5rem;
    }
}