@media screen and (min-width: 750px) {

    .menu {
        display: none;
    }

    .navigation {
        display: flex !important;
        flex-direction: row;
        justify-content: space-around;
        background-color: var(--color-olivegreen-5);
        padding: var(--padding-nav);
    }

    .navigation li {
        flex: 1 1 auto;
    }

    .navigation a {
        border-top: none;
    }

    main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        max-width: 85vw;
        gap: 2rem;
    }

    #temple-title {
        font-size: 3.5rem;
    }

    figure:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        transition: 0.3s ease;
    }
}